<div>
    <a href="{{ .Get "target" }}" data-lity data-lity-desc="{{ .Get "caption" }}">
        <img class="responsive" src="http://{{ .Site.Params.domain }}.rsz.io{{ .Get "target" }}?width={{ .Get "width" }}" />
    </a>
</div>
