<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
    <base href="{{ .Site.BaseURL }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    {{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
    {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

    {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}

    {{ if .Title }}<meta property="og:title" content="{{ .Title }}" /> {{ end }}
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:image" content="//www.radiant3.ca/images/logo-square.png" />
    <meta property="og:image:type" content="image/png" />
    {{ block "extrameta" . }}
    <meta property="og:type" content="website" />
    {{ end }}

    <link rel="canonical" href="{{ .Permalink }}" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    {{ block "extrahead" . }}
    {{ end }}
</head>
<body class="{{ block "pageClass" . }}{{ end }}">

<header>
    <div class="container">
        <a class="brand" href="{{ .Site.BaseURL }}">
            <img class="desktop" src="{{ .Site.Params.logo }}"/>
            <img class="mobile" src="{{ .Site.Params.logoMobile }}"/>
        </a>
        <nav class="navbar">
            <ul>
                {{ range .Site.Menus.main }}
                <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
                {{ end }}
                <li class="icon"><a href="https://github.com/davidmarquis" title="GitHub profile"><i class="fa fa-github"></i></a></li>
                <li class="icon"><a href="http://stackoverflow.com/story/davidmarquis" title="StackOverflow profile"><i class="fa fa-stack-overflow"></i></a></li>
                <li class="icon"><a href="https://ca.linkedin.com/in/davidmarquis" title="LinkedIn profile"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </nav>
    </div>
</header>

<div id="contents">
    <div class="container">
        <main>
            {{ block "content" . }}
            {{ end }}
        </main>
        {{ block "aside" . }}
        {{ end }}
    </div>
</div>

<div class="container">
    <footer>
        <div class="row">
            <div class="three columns">
                <h6>Contents</h6>
                <ul>
                    {{ range .Site.Menus.main }}
                    <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </div>
            <div class="three columns">
                <h6>Get In Touch</h6>
                <ul>
                    <li class="icon"><a href="https://github.com/davidmarquis"><i class="fa fa-github"></i> GitHub</a></li>
                    <li class="icon"><a href="https://ca.linkedin.com/in/davidmarquis"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
                    <li class="icon"><a href="mailto:david@radiant3.ca"><i class="fa fa-envelope"></i> Email</a></li>
                </ul>
            </div>
            <div class="six columns">
                <h6>Latest Posts</h6>
                <ul>
                    {{ range first 5 (where .Site.Pages "Type" "post") }}
                    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                    {{ end }}
                </ul>
            </div>
        </div>
        <p class="copyright">&copy; {{ now.Format "2006"}} <a href="{{ .Site.Params.brandUrl }}">{{ .Site.Params.brand }}</a></p>
    </footer>
</div>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script type="application/javascript" src="/js/lity.js" ></script>

{{ template "_internal/google_analytics.html" . }}

</body>
</html>