{{ define "extrameta" }}
	<meta property="og:type" content="article" />
	<meta property="article:published_time" content="{{ .Date.Format "2006-01-02" }}" />
	<meta property="article:modified_time" content="{{ .Lastmod.Format "2006-01-02" }}" />
	<meta property="article:author" content="{{ $.Param "author" }}" />
	{{ range .Params.tags }}
	<meta property="article:tag" content="{{ . }}" />
	{{ end }}
	{{ if isset .Params "excerpt" }}{{ with .Params.excerpt }}<meta property="og:description" content="{{ . }}" />{{ end }}{{ end }}
{{ end }}

{{ define "extrahead" }}
	{{ partial "sharethis.html" . }}
{{ end }}

{{ define "content" }}
	<article>
		<div class="head">
			<h1>{{ .Title }}</h1>
			<time>Published on {{ .Date.Format "Jan 02, 2006" }} by {{ $.Param "author" }}</time>
			{{ partial "sharing.html" . }}
		</div>
		<div>
			{{ .Content }}
		</div>
		<div class="tags">
			{{ if and ((isset .Params "tags") (not (eq (len .Params.tags) 0))) }}
			Tags:
			{{ range .Params.tags }}
			<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
			{{ end }}
			{{ end }}
		</div>
		{{ partial "sharing.html" . }}
		<div>
			{{ template "_internal/disqus.html" . }}
		</div>
	</article>
{{ end }}