<section class="featured">
    <h6>
        Featured Articles
    </h6>
    <ul>
        {{ range first 3 (where .Data.Pages "Params.featured" true) }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
    </ul>
</section>
