{{ if isset .Site.Params "shareThis" }}
<script type="text/javascript" id="st_insights_js" src="http://w.sharethis.com/button/buttons.js?publisher={{ $.Site.Params.shareThis.publisher }}"></script>
<script type="text/javascript">stLight.options({publisher: "{{ $.Site.Params.shareThis.publisher }}", doNotHash: true, doNotCopy: true, hashAddressBar: false});</script>
{{ end }}
