<article class="summary">
	<h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
	<time>{{ .Date.Format "Jan 02, 2006" }}</time>
	<div>
		{{ .Summary }}
		{{ if .Truncated }}
			<a href="{{ .Permalink }}">Read more...</a>
		{{ end }}
	</div>
</article>