{{ if not (eq (len .Site.Taxonomies.tags) 0) }}
<section class="tags">
    <h6>
        Articles by Tags
    </h6>
    <div class="tagcloud">
        {{ range $name, $items := .Site.Taxonomies.tags }}
        <a href="{{ $.Site.BaseURL }}tags/{{ $name | urlize | lower  }}">{{ $name }}</a>
        {{ end }}
    </div>
</section>
{{ end }}