@import "variables";

article {
  font-size: 1.8rem;
  h1 {
    font-weight: 400;
    margin-bottom: 0;
    font-size: 1.6em;
  }
  h2 {
    font-size: 1.3em;
  }
  h3 {
    font-size: 1.1em;
  }
  .head {
    margin-bottom: 1em;
  }
  .tags {
    margin-top: 1em;
  }

  ul, ol {
    list-style-position: outside;
    margin-left: 2em;

    ul, ol {
      font-size: 1em;
      margin-top: 1rem;
      margin-bottom: 0;
    }
  }

  &.summary {
    margin-bottom: 30px;
    h3 {
      font-size: 1.5em;
      margin-bottom: 0;
      a {
        #{$a-states} {
          color: $color-headings;
        }
      }
    }
  }

  @media screen and (min-width: $break-sm){
    h1 {
      font-size: 5rem;
    }
    h2 {
      font-size: 1.5em;
    }
  }
}

time {
  color: $color-text-secondary;
}

