@import "mixins";

body {
  background-color: $color-site-bg;
  color: $color-text;
  padding-top: $header-height;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  color: $color-headings;
  & > a {
    text-decoration: none;
  }
}

.desktop {
  display: none;
}
@media screen and (min-width: $break-sm) {
  .desktop {
    display: inherit;
  }
  .mobile {
    display: none;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  border-bottom: 1px solid $color-separator;
  background: $color-header-bg;

  .container {
    height: $header-height;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .brand {
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      height: 50px;
    }
    a {
      border: none;
    }
  }
  .navbar {
    flex: 1;
  }
}

#contents {
  .container {
    @include clearfix();
  }
}

.navbar {
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    @include list-reset();

    li {
      margin: 0 1em 0 0;

      &.icon {
        margin-right: 0;
        margin-left: 1em;
        &:first-child {
          margin-left: 3em;
        }
        a {
          font-size: 2rem;
        }
      }

      @media screen and (min-width: $break-xs) {
        margin: 0 2em 0 0;
      }

      @media screen and (min-width: $break-sm) {
        margin: 0 3em 0 0;
      }
    }

  }
  a {
    #{$a-states} {
      font-size: 1.1rem;
      font-weight: 600;
      letter-spacing: .2rem;
      color: $color-headings;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

main, aside {
  padding-top: 2rem;
}

aside {
  section {
    margin-bottom: 3em;
  }
}

footer {
  clear: both;
  margin-top: 3em;
  padding-top: 1em;
  border-top: 1px solid $color-separator;

  .columns {
    margin-top: 2em;
  }

  h6 {
    margin-bottom: 1em;
    text-transform: uppercase;
  }

  ul {
    @include list-reset();
    li {
      margin-bottom: 5px;
    }
    a {
      #{$a-states} {
        font-size: 1.2rem;
        font-weight: 500;
        //letter-spacing: .2rem;
        color: $color-text;
        text-decoration: none;
        //text-transform: uppercase;
      }
    }
  }
  .copyright {
    font-size: 1.2rem;
    margin-top: 3em;
  }
}

.highlight {
  font-size: 0.8em;
  padding: 10px 15px;
  pre {
    margin: 0;
  }
  margin-bottom: 1em;
  overflow-x: scroll;
}

.pagination {
  margin-top: 2em;
}

img {
  &.responsive {
    max-width: 100%;
    height: auto;
  }
}