@mixin clearfix() {
  &:after {
    clear: both;
    height: 0;
    width: 100%;
    content: '';
    display: block;
  }
}

@mixin list-reset() {
  list-style-type: none;
  margin: 0; padding: 0;
  li {
    margin-bottom: 0;
  }
}