.note {
  font-size: 0.9em;
  padding: .75rem 1.25rem;
  margin-bottom: 2em;
  border: 1px solid transparent;
  border-radius: .25rem;

  &.note-success {
    background-color:#dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}