$color-text: #555;
$color-text-secondary: #999;
$color-headings: #222;
$color-separator: #eee;
$header-height: 60px;
$color-site-bg: #fefefe;
$color-header-bg: white;

$break-xs: 480px;
$break-sm: 640px;
$break-md: 768px;
$break-lg: 960px;

$a-states: '&, &:hover, &:active, &:visited';