{{ define "pageClass" }}home{{ end }}

{{ define "content" }}
	<h6>Recent Articles</h6>
	{{ $paginator := .Paginate (where .Site.Pages "Type" "post") }}
	{{ range $paginator.Pages }}
		{{ partial "summary.html" . }}
	{{ end }}
	{{ partial "pagination.html" . }}
{{ end }}

{{ define "aside" }}
<aside>
	{{ partial "featured.html" . }}
	{{ partial "tags.html" . }}
</aside>
{{ end }}