{{ define "content" }}
	<article>
		<div class="head">
			<h1>{{ .Title }}</h1>
		</div>
		<div>
			{{ .Content }}
		</div>
		<div>
			<ul id="tags">
				{{ range .Params.tags }}
				<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
				{{ end }}
			</ul>
		</div>
	</article>
{{ end }}